In [1]:
# dictionery 
# {key:value}

dictionery = {"key":"value"}
dictionery

{'key': 'value'}

In [3]:
dictionery["key"]

'value'

In [10]:
# traditional dictionery 
numeric_dictionery = {"one":"aik","two":"doo","three":"teen"}
numeric_dictionery

{'one': 'aik', 'two': 'doo', 'three': 'teen'}

In [8]:
# resturent dictionery
resturent_dictionery = {
    "Chezious":["pizza","pasta","salad"],
    "macdonald":["burger","pasta","salad"],
}
resturent_dictionery.keys()

dict_keys(['Chezious', 'macdonald'])

In [9]:
resturent_dictionery.values()

dict_values([['pizza', 'pasta', 'salad'], ['burger', 'pasta', 'salad']])

In [12]:
menu = {1:"pizza",2:"pasta",3:"salad"}
menu

{1: 'pizza', 2: 'pasta', 3: 'salad'}

In [13]:
# you can't store the values with the same key and you can't store the key with the same value
# is we use same key then it will update the value
menu = {1:"pizza",2:"pasta",3:"salad",1:"burger"}
menu

{1: 'burger', 2: 'pasta', 3: 'salad'}

In [20]:
# keys in dictionery can be of any data type
# string  {"key":"value"}
# numeric {1:"value"}

tuplees = {(1,2,3):"value",(4,5,6):"value2"}
tuplees.keys()
# print the value using key form tupplees
print(tuplees[(1,2,3)])

value

In [25]:
# nested dictionery
# indexing in dictionery
grades = {
    "ahmad":[23,45,65],
    "ali":[45,56,75],
    "zara":[67,78,89],
}
grades["ahmad"][1]

45

In [27]:
# updating dictionery
grades["ali"][1] = 70
grades

{'ahmad': [23, 45, 65], 'ali': [45, 70, 75], 'zara': [67, 78, 89]}

In [30]:
grades["zara"] = [67,89,90]
print(grades)
grades["zara"] = 67
grades

{'ahmad': [23, 45, 65], 'ali': [45, 70, 75], 'zara': [67, 89, 90]}

{'ahmad': [23, 45, 65], 'ali': [45, 70, 75], 'zara': 67}

In [31]:
# adding new value pairs
grades["mohammad"] = [78,89,90]
grades

{'ahmad': [23, 45, 65],
 'ali': [45, 70, 75],
 'zara': 67,
 'mohammad': [78, 89, 90]}