# Sequence Data types

    - String
    - List
    - Tuple

In [1]:
name = "Maimoona - 123"
type(name)

str

In [2]:
Basket = [ "Apple","banana","kiwi"]
type(Basket)  #mutable

list

In [3]:
Basket[0]

'Apple'

In [4]:
Tuple = ("apple","banana","kiwi")
type(Tuple)

tuple

## Dictionary

    - Key value pairs
    - collection of values but they indexed using keys
    - they are mutable
    - { key : value }

In [5]:
dictionary = {"key":"value"}
dictionary

{'key': 'value'}

In [6]:
dictionary["key"]

'value'

In [7]:
#traditional Dictionary

numeric_dictionary = { "One": "Aik"," Two":"do","Three":"Teen"}

numeric_dictionary

{'One': 'Aik', ' Two': 'do', 'Three': 'Teen'}

In [8]:
#Restaurants

restaurants = {"Chezious": ["Pizza","Pasta","Roll"],"Chief":["Burger"]}
restaurants

{'Chezious': ['Pizza', 'Pasta', 'Roll'], 'Chief': ['Burger']}

**Key() and values()**

In [9]:
restaurants.keys()

dict_keys(['Chezious', 'Chief'])

In [10]:
restaurants.values()

dict_values([['Pizza', 'Pasta', 'Roll'], ['Burger']])

In [11]:
menu = { 1: "pizza", 2: "burger", 3:"Pasta", 4: "Roll"}
menu

{1: 'pizza', 2: 'burger', 3: 'Pasta', 4: 'Roll'}

**You can't store the values with the same key or you can't use same key twice**

In [12]:
menu = { 1: "pizza", 2: "burger", 3:"Pasta", 4: "Roll", 1: "Biryani" }
menu

{1: 'Biryani', 2: 'burger', 3: 'Pasta', 4: 'Roll'}

**Keys**

    - String { "One": "Aik"," Two":"do","Three":"Teen"}
    - Numeric { 1: "pizza", 2: "burger", 3:"Pasta", 4: "Roll" }
    - Tuple { (0,1) : "Apple", (0,2): "banana"}

In [13]:
tup_key_dictionary = { (0,1) : "Apple", (0,2): "banana"}
tup_key_dictionary

{(0, 1): 'Apple', (0, 2): 'banana'}

In [14]:
tup_key_dictionary.keys()

dict_keys([(0, 1), (0, 2)])

In [15]:
# We can not use list and dictionaries data types as keys
list_dictionary ={ [0,1]:"Apple"}

TypeError: unhashable type: 'list'

**Value**

    - String { "One": "Aik"," Two":"do","Three":"Teen"}
    - List   {"Chezious": ["Pizza","Pasta","Roll"],"Chief":["Burger"]}
    - Tuple  {"Chezious": ("pizza","Burger","roll"), "chief": ("burger",)}
    - Dictionary

In [16]:
Menu = {"Chezious": ("pizza","Burger","roll"), "chief": ("burger",)}
Menu

{'Chezious': ('pizza', 'Burger', 'roll'), 'chief': ('burger',)}

In [17]:
Menu.values()

dict_values([('pizza', 'Burger', 'roll'), ('burger',)])

In [18]:
Menu.keys()

dict_keys(['Chezious', 'chief'])

### Indexing

In [19]:
# Grading System
# three students data 
# of three different subjects like english urdu and maths

In [20]:
# {student_name: [urdu_score, english_score, maths_score]}

grades = { "Ahmad": [78,80,90], "Ali":[75,79,95], "Zara": [77, 85,90]}
grades

{'Ahmad': [78, 80, 90], 'Ali': [75, 79, 95], 'Zara': [77, 85, 90]}

In [21]:
grades["Ahmad"]

[78, 80, 90]

In [22]:
grades["Ahmad"][1]

80

In [23]:
#displaying multiple values
grades["Ahmad"][1], grades["Zara"][2]

(80, 90)

In [24]:
grades.keys()

dict_keys(['Ahmad', 'Ali', 'Zara'])

In [25]:
grades.values()

dict_values([[78, 80, 90], [75, 79, 95], [77, 85, 90]])

### Updating the data

In [26]:
grades

{'Ahmad': [78, 80, 90], 'Ali': [75, 79, 95], 'Zara': [77, 85, 90]}

In [27]:
# updating single value
grades["Ali"][0] = 80

In [28]:
grades

{'Ahmad': [78, 80, 90], 'Ali': [80, 79, 95], 'Zara': [77, 85, 90]}

In [29]:
grades["Zara"] = 80

In [30]:
grades

{'Ahmad': [78, 80, 90], 'Ali': [80, 79, 95], 'Zara': 80}

#### Adding a new key-value pair

In [31]:
grades

{'Ahmad': [78, 80, 90], 'Ali': [80, 79, 95], 'Zara': 80}

In [32]:
grades["Mahnoor"] = [90 ,91, 95]

In [33]:
grades

{'Ahmad': [78, 80, 90],
 'Ali': [80, 79, 95],
 'Zara': 80,
 'Mahnoor': [90, 91, 95]}

In [34]:
grades["Mahnoor"] = [0 , 0, 0]

In [35]:
grades

{'Ahmad': [78, 80, 90], 'Ali': [80, 79, 95], 'Zara': 80, 'Mahnoor': [0, 0, 0]}

### Indexing the int value will throw error

In [36]:
grades["Zara"][1][0]

TypeError: 'int' object is not subscriptable

In [37]:
num = 5
num += 5   # num = num +5
num

10

### Data Manipulation

In [38]:
students = {"Mahnoor":23, "Maham": 24,"Zara":20}    # {name: age}
students

{'Mahnoor': 23, 'Maham': 24, 'Zara': 20}

In [39]:
students["Zara"] += 2

In [40]:
students

{'Mahnoor': 23, 'Maham': 24, 'Zara': 22}

## Nested Dictionary

In [41]:
# {student_name: {urdu_score: numeric, english_score:numeric, maths_score:numeric}}

subject_grades = { "Ahmad":{"urdu":75, "english": 78} , "Bilal": {"urdu": 79, "english":80}, "Zara" :{"urdu":81,"english":80} }
subject_grades

{'Ahmad': {'urdu': 75, 'english': 78},
 'Bilal': {'urdu': 79, 'english': 80},
 'Zara': {'urdu': 81, 'english': 80}}

In [42]:
subject_grades["Ahmad"]["english"]

78

In [43]:
subject_grades["Ahmad"]["english"] = 90

In [44]:
subject_grades

{'Ahmad': {'urdu': 75, 'english': 90},
 'Bilal': {'urdu': 79, 'english': 80},
 'Zara': {'urdu': 81, 'english': 80}}

### Remove the elements

**pop**

In [45]:
subject_grades.pop("Zara")  # using the desired key

{'urdu': 81, 'english': 80}

In [46]:
subject_grades

{'Ahmad': {'urdu': 75, 'english': 90}, 'Bilal': {'urdu': 79, 'english': 80}}

**pop item**

In [47]:
subject_grades.popitem()  #delete the last element

('Bilal', {'urdu': 79, 'english': 80})

In [48]:
subject_grades

{'Ahmad': {'urdu': 75, 'english': 90}}

### Clear

In [49]:
subject_grades.clear()        #removing all elements

In [50]:
subject_grades

{}

## Sets

    - They are ordered
    - They don't allow duplicates
    - They can not be accessed using indexes

In [51]:
score = { 90, 80, 45}
score

{45, 80, 90}

In [52]:
type(score)

set

In [53]:
# You cannot access items in a set by referring to an index or a key. 
# You can loop through the set items using a for loop.
score[0]

TypeError: 'set' object is not subscriptable

In [54]:
for i in score:
    print(i)

80
90
45

In [55]:
score = { 90, 80, 45, 80, 80 ,45}
score

{45, 80, 90}

In [56]:
score =  [90, 80, 45, 80, 80 ,45]
score

[90, 80, 45, 80, 80, 45]

union
intersection
difference

In [61]:
score = { 90, 80, 45, 80, 80 ,45}
score

{45, 80, 90}

In [62]:
score.union({1,23})

{1, 23, 45, 80, 90}

In [63]:
score

{45, 80, 90}

In [64]:
score.intersection({45,66,32})

{45}

In [65]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      Unlike set.remove(), the discard() method does not raise
 |      an exception when an element is missing from the set.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

## For loop

In [66]:
# you have to print hello 1000 times
print("Hello") 
print("Hello") 
print("Hello") 
print("Hello") 
print("Hello")

Hello
Hello
Hello
Hello
Hello

In [67]:
string = "Data Science"
string[::2]   #start, end, step

'Dt cec'

In [68]:
#start, end, step

range(0,10)
#0 1 2 3 4 5 6 7 8 9

range(0, 10)

In [69]:
list(range(0, 10,2))

[0, 2, 4, 6, 8]

In [70]:
# if you need the numeric data in specific sequence, go for Range(start, stop, step)

print(list(range(0, 11)))
print(list(range(0, 10, 2)))
print(list(range(9, -1 ,-1)))

#range(0,10,-1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [71]:
print(list(range(9, 0 ,-1)))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [72]:
for i in range(9, 0 ,-1):
    print(i)

9
8
7
6
5
4
3
2
1

In [73]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [74]:
# to print hello five time
for num in range(1,6):
    
    print("hello")
    print("World")    #indent => Tab = > 8 spaces
    print("!")

hello
World
!
hello
World
!
hello
World
!
hello
World
!
hello
World
!

In [75]:
# to print numeric value + hello five time
for num in range(1,6):
    
    print(num, "hello")

1 hello
2 hello
3 hello
4 hello
5 hello

In [76]:

for i in range(0,11):
    print(2, " x ", i, " = ", 2 * i)

2  x  0  =  0
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20

In [77]:
salary = [2500, 2000, 3000]
len(salary)

3

In [78]:
# Add Eidi Bonus to salary of all employees

salary = [2500, 2000, 3000, 6000, 4000,2300]


for i in range(0, len(salary)):
    salary[i] += 5000

In [79]:
salary

[7500, 7000, 8000, 11000, 9000, 7300]

In [80]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [81]:
for task in range(0,5):
    print("hello")

hello
hello
hello
hello
hello

In [82]:
# Set
score = {90, 76, 34,55,67}
for i in score:
    print(i)

34
67
55
90
76

In [83]:
#list
fruits = ["apple","mango","banana"]

for i in fruits:
    print(i)

apple
mango
banana

### Nested loop

    ***
    ***
    ***

In [85]:
#Patterns
for i in range(0,3):
    print("*")

*
*
*

In [87]:
#Patterns
# 2d patterns => Nested loop 
for i in range(0,3):
    for j in range(0,3):
        print("*", end=" ")  #horizontal pattern
    print()

* * *
* * *
* * *

In [95]:
Ahmad = {"Urdu": 98, "English": 85}

Grades_system = {"A+":range(90,101), "B":range(79,90)}

In [96]:
Ahmad

{'Urdu': 98, 'English': 85}

In [97]:
for subject in Ahmad:
  #  print(subject)
   # print(Ahmad[subject])
    
    for grade in Grades_system:
      #  print(grade)
        
        if Ahmad[subject] in Grades_system[grade]:
            Ahmad[subject] = [ Ahmad[subject], grade]

In [98]:
Ahmad

{'Urdu': [98, 'A+'], 'English': [85, 'B']}

In [99]:
first_name = ["maimoona","Zara"]
subject = ["English","Urdu"]

for i in first_name:
    for j in subject:
        print(i, " enrolled in subject of ", j)

maimoona  enrolled in subject of  English
maimoona  enrolled in subject of  Urdu
Zara  enrolled in subject of  English
Zara  enrolled in subject of  Urdu

student_name   subject (english, maths)


student_name english
student_name maths

In [101]:
# next session Pass, continue, break