In [1]:
# dictionery 
# {key:value}

dictionery = {"key":"value"}
dictionery

{'key': 'value'}

In [3]:
dictionery["key"]

'value'

In [10]:
# traditional dictionery 
numeric_dictionery = {"one":"aik","two":"doo","three":"teen"}
numeric_dictionery

{'one': 'aik', 'two': 'doo', 'three': 'teen'}

In [8]:
# resturent dictionery
resturent_dictionery = {
    "Chezious":["pizza","pasta","salad"],
    "macdonald":["burger","pasta","salad"],
}
resturent_dictionery.keys()

dict_keys(['Chezious', 'macdonald'])

In [9]:
resturent_dictionery.values()

dict_values([['pizza', 'pasta', 'salad'], ['burger', 'pasta', 'salad']])

In [12]:
menu = {1:"pizza",2:"pasta",3:"salad"}
menu

{1: 'pizza', 2: 'pasta', 3: 'salad'}

In [13]:
# you can't store the values with the same key and you can't store the key with the same value
# is we use same key then it will update the value
menu = {1:"pizza",2:"pasta",3:"salad",1:"burger"}
menu

{1: 'burger', 2: 'pasta', 3: 'salad'}

In [20]:
# keys in dictionery can be of any data type
# string  {"key":"value"}
# numeric {1:"value"}

tuplees = {(1,2,3):"value",(4,5,6):"value2"}
tuplees.keys()
# print the value using key form tupplees
print(tuplees[(1,2,3)])

value

In [25]:
# nested dictionery
# indexing in dictionery
grades = {
    "ahmad":[23,45,65],
    "ali":[45,56,75],
    "zara":[67,78,89],
}
grades["ahmad"][1]

45

In [27]:
# updating dictionery
grades["ali"][1] = 70
grades

{'ahmad': [23, 45, 65], 'ali': [45, 70, 75], 'zara': [67, 78, 89]}

In [30]:
grades["zara"] = [67,89,90]
print(grades)
grades["zara"] = 67
grades

{'ahmad': [23, 45, 65], 'ali': [45, 70, 75], 'zara': [67, 89, 90]}

{'ahmad': [23, 45, 65], 'ali': [45, 70, 75], 'zara': 67}

In [31]:
# adding new value pairs
grades["mohammad"] = [78,89,90]
grades

{'ahmad': [23, 45, 65],
 'ali': [45, 70, 75],
 'zara': 67,
 'mohammad': [78, 89, 90]}

In [33]:
grades["ahmad"][0] +=50
grades

{'ahmad': [78, 45, 65],
 'ali': [45, 70, 75],
 'zara': 67,
 'mohammad': [78, 89, 90]}

In [35]:
# nested dictionery
subject_grades = {
    "ahmad":{
        "urdu":80,
        "english":70,
        "math":90
    },
    "ali":{
        "urdu":90,
        "english":80,
        "math":70
    },
    "zara":{
        "urdu":70,
        "english":60,
        "math":90
    }
}
subject_grades

{'ahmad': {'urdu': 80, 'english': 70, 'math': 90},
 'ali': {'urdu': 90, 'english': 80, 'math': 70},
 'zara': {'urdu': 70, 'english': 60, 'math': 90}}

In [36]:
# accesing the elements in nested dictionery
print(subject_grades["ahmad"]["urdu"])

80

In [37]:
# remove the elements
# by pop
subject_grades.pop("ali")

{'urdu': 90, 'english': 80, 'math': 70}

In [38]:
subject_grades

{'ahmad': {'urdu': 80, 'english': 70, 'math': 90},
 'zara': {'urdu': 70, 'english': 60, 'math': 90}}

In [39]:
# remove by using popitem it deletes the last element
subject_grades.popitem()

('zara', {'urdu': 70, 'english': 60, 'math': 90})

In [ ]:
# wht dose clear do 
# clear removes all the elements from the dictionary

In [42]:
# an example of sets in python 
# sets in python
# they are order collection of elements
# they dont allow duplecate elements
# they canot be indexed
# can use unique elements, intersection diffrence
score = {1,1,22,3,4,5,6,7,8,9,10}
score

{1, 3, 4, 5, 6, 7, 8, 9, 10, 22}

In [48]:
# for loop in python
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [49]:
string = "Data science"
string[::2]

'Dt cec'

In [53]:
print(list(range(0,10,2)))
print(list(range(10,0,-1)))
# this same range is used in for loop
for i in range(10,0,-2):
    print(i)

[0, 2, 4, 6, 8]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
10
8
6
4
2

In [54]:
# print numeric valus and + hello 5 times
for i in range(0,5):
    print(i,"hello")

0 hello
1 hello
2 hello
3 hello
4 hello

In [55]:
for i in range(0,11):
    print(2,"*",i,"=",2*i)

2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [56]:
salary = [1000,2000,3000,4000,5000]
for i in range(0,5):
    print(i,salary[i])

0 1000
1 2000
2 3000
3 4000
4 5000

In [57]:
# list 
list = ["apple","banana","cherry"]
for i in list:
    print(i)

apple
banana
cherry

In [58]:
for i in range(0,5):
    print('*', end=" ")

* * * * *

In [63]:
for i in range(0,5):
    print('* * *' )

* * *
* * *
* * *
* * *
* * *

In [69]:
for i in range(0,5):
    for j in range(0,5):
        print('*', end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [70]:
students = ["ahmad","ali","zara","mohammad"]
grades = [90,80,70,60]
for i in range(0,4):
    print(students[i],grades[i])

ahmad 90
ali 80
zara 70
mohammad 60