# Python

    - Programming Language + Mainly used for Data Science
    - named after a show "Monty Python"
 
Advantages:
 
    - Similar to English
    - Easy to use
    - We can use it for anything ( application, web development + For any data field)

Jupyter Notebook keyboard shortcuts:

| Shortcut          | Action                                      |
|-------------------|---------------------------------------------|
| `Enter`           | Enter Edit Mode                             |
| `Shift + Enter`   | Run current cell and select next cell       |
| `Ctrl + Enter`    | Run current cell                            |
| `A`               | Insert new cell above current cell          |
| `B`               | Insert new cell below current cell          |
| `D, D`            | Delete current cell                         |
| `Z`               | Undo cell deletion                          |
| `Y`               | Change cell type to Code                    |
| `M`               | Change cell type to Markdown                |
| `Shift + M`       | Merge selected cells                        |
| `Up Arrow`        | Select cell above                           |
| `Down Arrow`      | Select cell below                           |
| `Shift + K`       | Extend selection above                      |
| `Shift + J`       | Extend selection below                      |
| `Shift + Space`   | Scroll notebook up                          |
| `Space`           | Scroll notebook down                        |

### Basic Concepts

#### Display Text

In [1]:
print("Hello Everyone!")   #shift +enter to run or execute the code

Hello Everyone!

In [2]:
print("Hello","Everyone!")

Hello Everyone!

In [3]:
print("Hello","Everyone!",sep="-")

Hello-Everyone!

In [4]:
print("Hello", end="._.")
print("Everyone",end="._.")

Hello._.Everyone._.

#### Help

In [5]:
print?

In [6]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

## Variables


    - They are like Containers to store something

In [7]:
Jug = "Water"

In [8]:
Jug

'Water'

In [9]:
Purse = "Money"

In [10]:
Name = "Maimoona"

In [11]:
Name

'Maimoona'

In [12]:
Name

'Maimoona'

In [13]:
# ways to write variable name

Fullname = "Maimoona Khilji"

In [14]:
FullName ="Maimoona Khilji"

In [15]:
Full_name ="Maimoona Khilji"

In [16]:
_FullName ="Maimoona Khilji"

In [17]:
Full_name1234556 = "Maimoona Khilji"

In [18]:
12Full_Name = "Maimoona Khilji" #It will throw error

SyntaxError: invalid decimal literal (4079374473.py, line 1)

In [19]:
_FullName ="Maimoona Khilji"

In [20]:
# Storing Multiple Values

First_name = "Maimoona"
Last_Name = "khilji"
Age = 23

print(First_name)
print(Last_Name)
print(Age)

Maimoona
khilji
23

In [21]:
First_name ,Last_Name , Age = "Maimoona", "Khilji", 23

print(First_name)
print(Last_Name)
print(Age)

Maimoona
Khilji
23

 ### Data types
 
For single value-Variable:

     - String
     - Boolean
     - Integer
     - Float
     
For Multiple value-Variable:
  
     - list, set, dictionary for storing multiple data values

In [22]:
Full_name ="Maimoona Khilji"  # String or str
enrollment = True             # Boolean (True or False)

# Numeric
Batch = 1          #int = discrete value of exact digit                     
Score = 95.5      #float = Decimal
complex_data = 3 + 4j  #complex

In [23]:
type(Score)

float

In [24]:
type(complex_data)

complex

In [25]:
type(Full_name)

str

In [26]:
type(enrollment)

bool

In [27]:
type(Batch)

int

In [28]:
enrollment = True             # Boolean (True or False)
type(enrollment)

bool

In [29]:
batch = 1
type(batch)

int

### Data Type Conversions

In [30]:
Height = "3.5"
Width = "5"

print("Height: ", Height, type (Height))
print("Width: ", Width, type (Width))

Height:  3.5 <class 'str'>
Width:  5 <class 'str'>

In [31]:
# Python Functions for converting the data type
int()
str()
float()
bool()

False

In [32]:
Height = float("3.5")   # Str - > Float
Width = int("5")      # Str -> int

print("Height: ", Height, type (Height))
print("Width: ", Width, type (Width))

Height:  3.5 <class 'float'>
Width:  5 <class 'int'>

In [33]:
data = str(9232190909090)

type(data)

str

In [34]:
data

'9232190909090'

In [35]:
Enrollment = bool(1)  # 1= Yes and 0 = No

type(Enrollment)

bool

In [36]:
Enrollment

True

In [37]:
a = 500

print("a: ",a,type(a))



a = bool(a)

print("a: ",a,type(a))

a:  500 <class 'int'>
a:  True <class 'bool'>

In [38]:
type(a)

bool

In [39]:
bool(-10000)

True

In [40]:
# Value = 0 Then False
# Value > 0  or Value < 0 Then True

In [41]:
bool("ahbjsln")

True

In [42]:
int(4.5)

4

In [43]:
float(2)

2.0

In [44]:
float("2.5")

2.5

In [45]:
# If you want to convert float-string into int
#  Str -> float - > int

int("2.5")

ValueError: invalid literal for int() with base 10: '2.5'

In [ ]:
a = "2.5"

a = float(a)
 
a = int(a)

print(a,type(a))

In [ ]:
int(float("2.5"))

### User Input

In [ ]:
print("Welcome to this application!")

In [ ]:
Name = input("Enter your Name: ")
print("Welcome",Name, "to this application!")

In [ ]:
type(Name)

In [ ]:
Age = int(input("Enter your Age: "))

In [46]:
type(Age)

int

## Arithmetic Operations

In [47]:
num1 = 100
num2 = 25

In [48]:
print("Addition: ", num1 + num2)

Addition:  125

In [49]:
print("Subtraction: ", num1 - num2)

Subtraction:  75

In [50]:
print("Multiplication: ",num1 * num2)

Multiplication:  2500

In [51]:
print("Division: ", 104 / 25)

Division:  4.16

In [52]:
print("Floor: ", 104 // 25)

Floor:  4

In [53]:
print(num1)
print(num2)

100
25

In [54]:
print("Exponential: ", 2**3)  #2^3 = 2 x2 x2

Exponential:  8

In [55]:
print("Remainder: ",49 % 10)

Remainder:  9

## Comparison operators

In [56]:
# less than < 
# less than or equal <= 

# greater than   >
# greater than or equal   >=

# equal ==
# Not equal !=

In [57]:
print("less than? ", 8 < 5)

less than?  False

In [58]:
print("less than or equal? ", 5 <= 5)   # 5 <5 ?   or 5 == 5 ?

less than or equal?  True

In [59]:
print("greater than? ", 5 >8 )

greater than?  False

In [60]:
print("greater than or equal? ", 8 >= 8 )

greater than or equal?  True

In [61]:
print("Equal? ", 4==3)

Equal?  False

In [62]:
print("Not equal?", 4 != 3)

Not equal? True

In [63]:
3 < 4

True

In [64]:
int("3") < 4    #make sure to convert string into int or float for comparison

True

### Logical operators

In [65]:
# and 
# or
# not

And

    - True True = True
    - True False = False
    - False True = False
    - False False = False

In [66]:
print( 1< 5 and 1 >2 )

False

Or
    
    - True True = True
    - True False = True
    - False True = True
    - False Fasle = False

In [67]:
print( 1< 5 or 1 >2 )

True

In [68]:
print( not  1 > 2)

True

# The End!
## The End!
### The End!
#### The End!
##### The End!
**The End!**

# Practice Questions

Write a Python program that declares three variables: name, age, and country, and then prints them out in a single line.

Write a program that prompts the user for their name and then greets them 
(hint: store the user input in a variable and then use that variable to print out a greeting + name)

Display the result of 7 multiplied by 8 using the print() function.

Ask the user for an input, store it in a variable, and then display its data type.