# Python
- programming language + Mainly for data science 
- named after a show "Monty Python"
advantages:
    - Similer to english
    - Easy to use
    we can use it for (application, web dev, for any data field)

# Basic Concepts

In [1]:
# Display Test 

print("Hello Everyone!") # shift + enter

Hello Everyone!

In [ ]:
print("Hello","Everyone!")

In [4]:
print("Hello","Everyone!",sep="-")

Hello-Everyone!

In [5]:
print("Hello",end=":-:")
print("Hello",end=":-:")

Hello:-:Hello:-:

#Variables

In [2]:
#Help 
print?

In [3]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [8]:
Name = "Taha"

In [9]:
Name

'Taha'

In [10]:
# ways to write variable name 
Fullname = "Muhammad taha malik"

In [13]:
#  storing Multiple values
tirst_name = " taha"
last_name = "Malik"
age = 24

full_name, last_name = "tahaa", 'malik'
print(full_name)

tahaa

In [14]:
# data types 
full_name = "taha "  # string 
enrollment = True # boolean

batch = 1 # int 
score = 55.5 # float 
complex_data = 3+4j # complex number

In [18]:
print(type(complex_data))
print(type(full_name))

<class 'complex'>
<class 'str'>

#Data type conversions

In [ ]:
# funtions for conversion 
int()
str()
float()
bool()

In [22]:
height = float("3.5")   #str => float
width = int("5")        # str => int
print("Height: ", height,type(height))
print("Width: ", width,type(width))

Height:  3.5 <class 'float'>
Width:  5 <class 'int'>

In [24]:
data = str(923425347852)
type(data)

str

In [27]:
enrollment = bool(1) # 1 = Yes,  0 = No
type(enrollment)

bool

In [32]:
a = -100
print("a",a,type(a))

a = bool(a)

print("a",a,type(a))

# value = 0 then false 
# other wise true

a -100 <class 'int'>
a True <class 'bool'>

In [34]:
# if we want to convert float into string then floatstring 
int(float("2.5"))
# int("2.5") will give error

ValueError: invalid literal for int() with base 10: '2.5'

# user input

In [35]:
print("Welcome to this application")

Welcome to this application

In [37]:
name = input("enter your name")
print("welcome",name,"to this application" )

enter your nameasd
welcome asd to this application

In [ ]:
# input is taken in string if variable not initilized before

# Arithmatic operrations

In [38]:
num1 = 100
num2 = 25

In [39]:
print("addition: ",num1 + num2)

addition:  125

In [42]:
print("subtraction: ",num1 - num2)

subtraction:  75

In [41]:
print("multiplication: ",num1 * num2)

multiplication:  2500

In [40]:
print("division: ",num1 / num2)

division:  4.0

In [43]:
print("floor: ",num1 // num2)

floor:  4

In [44]:
print("exponantial: ",2**3)  #2^3

exponantial:  8

In [45]:
print("reminder: ",49 % 10)

reminder:  9

In [ ]:
# less then <
# less than or equal <=
# greter than >
# greater than or equal >=

In [46]:
print("equal",4==3)

equal False

#logical operator

In [ ]:
# and
# or
# not

# test
## test
### test 
#### test